<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "" %>
	</div>

	<div id="content">
		<h1>Hispum Co.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel modi nemo adipisci obcaecati labore veritatis, fuga ab temporibus consectetur sequi impedit eum, incidunt fugiat? Reiciendis delectus asperiores, atque fugit tenetur!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum voluptate beatae labore minima cumque nihil placeat, mollitia voluptatem obcaecati nisi repellat, commodi consequuntur ratione accusantium eligendi ea. Enim, ratione, nemo.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ullam eaque, illum accusantium molestiae nostrum sunt inventore porro commodi laborum ipsum corporis minima consectetur! Vitae magnam neque, impedit repudiandae doloremque.</p>
	</div>
</div>